native {
    device {
        name sim-catalyst-6840-1
        data hostname sim-catalyst-6840-1
             ip forward-protocol nd
             ip access-list extended Branch_Office
              remark Branch Office 2.0
             exit
             vlan 9
              name OSPF_VLAN
             !
             interface Loopback0
              description description
              ip address 192.168.1.1 255.255.255.255
              no shutdown
             exit
             interface Vlan9
              description SVI:OSPF_VLAN
              ip address 10.63.4.2 255.255.255.254
              ip ospf cost 5
              no ip proxy-arp
              no shutdown
             exit
             spanning-tree etherchannel guard misconfig
             spanning-tree extend system-id
             spanning-tree loopguard default
             spanning-tree optimize bpdu transmission
             spanning-tree portfast bpduguard default
             spanning-tree mode rapid-pvst
             errdisable recovery cause bpduguard
             errdisable recovery cause channel-misconfig
             errdisable recovery cause dhcp-rate-limit
             errdisable recovery cause dtp-flap
             errdisable recovery cause gbic-invalid
             errdisable recovery cause l2ptguard
             errdisable recovery cause link-flap
             errdisable recovery cause security-violation
             errdisable recovery cause udld
             errdisable recovery cause vmps
             errdisable recovery interval 900
             monitor session 1 destination interface Ten1/23
             no mpls ip propagate-ttl
             router ospf 1
              log-adjacency-changes
              passive-interface default
              router-id 192.168.1.1
              network 0.0.0.0 255.255.255.255 area 0
             exit
    }
}
